pandas
python-dotenv

openai
langchain
langchain-openai
langchain-google-genai
langchain-chroma
langchain-community
langsmith

jq
jmespath

streamlit
faiss-cpu
beautifulsoup4
tiktoken
pypdf
PyPDF2

Datetime
typing
requests

numexpr
duckduckgo-search
wikipedia